@model List<MPSAM.Entities.Doctor>
@{
    ViewBag.Title = "CreatePacient";
}
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<hr />
<br />
<center><h2>ADĂUGARE PACIENT</h2></center>
<br />
<br />
<br />
<div class="container">
    <label><span class="text-danger">* </span>Câmpuri obligatorii</label><br />
    <br />
    <form id="createPacient">
        <div class="form-row">
            <div class="col">
                <label>Medic responsabil<span class="text-danger">*</span></label>
                <select name="IDMedic" id="IDMedic" class="form-control form-control-lg">
                    @foreach (var doctor in Model)
                    {

                        <option value="@doctor.ID">@doctor.Nume @doctor.Prenume</option>
                    }
                </select>
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <left><h3>Date personale</h3></left>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Nume<span class="text-danger">*</span></label>
                <input name="Nume" id="Nume" class="form-control form-control-lg" />
                <label id="lblErrorNume" class="alert-danger"></label>
            </div>
            <div class="col">
                <label>Prenume<span class="text-danger">*</span></label>
                <input name="Prenume" id="Prenume" class="form-control form-control-lg" />
                <label id="lblErrorPrenume" class="alert-danger"></label>
            </div>
            <div class="col">
                <label>CNP<span class="text-danger">*</span><span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="Dupa completarea CNP'ului, sexul, data nasterii si varsta se vor autocompleta"></i></span></label>
                <input name="CNP" class="form-control form-control-lg" id="CNP" />
                <label id="lblErrorCNP" class="alert-danger"></label>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Data nasterii</label>
                <input name="DataNasterii" id="DataNasterii" class="form-control form-control-lg" readonly />
                <label id="lblErrorDataNasterii" class="alert-danger"></label>
            </div>
            <div class="col">
                <label>Varsta</label>
                <input name="Varsta" id="Varsta" class="form-control form-control-lg" readonly />
                <label id="lblErrorVarsta" class="alert-danger"></label>
            </div>
            <div class="col">
                <label>Sex</label>
                <input name="Sex" id="Sex" class="form-control form-control-lg" readonly />
                <label id="lblErrorSex" class="alert-danger"></label>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Email<span class="text-danger">*</span></label>
                <input name="Email" id="Email" class="form-control form-control-lg" />
                <label id="lblErrorEmail" class="alert-danger"></label>
            </div>
            <div class="col">
                <label>Telefon<span class="text-danger">*</span></label>
                <input name="Telefon" id="Telefon" class="form-control form-control-lg" />
                <label id="lblErrorTelefon" class="alert-danger"></label>
            </div>
            <div class="col">
                <label>Parola cont<span class="text-danger">*</span></label>
                <input name="Parola" id="Parola" class="form-control form-control-lg" />
                <label id="Parola" class="alert-danger"></label>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Adresa</label>
                <input name="Adresa" class="form-control form-control-lg" />
            </div>
            <div class="col">
                <label>Localitate</label>
                <datalist id="LocalitateList">
                    <option value="Timisoara">Timisoara</option>
                    <option value="Arad">Arad</option>
                    <option value="Cluj-Napoca">Cluj-Napoca</option>
                    <option value="Bucuresti">Bucuresti</option>
                    <option value="Iasi">Iasi</option>
                </datalist>
                <input name="Localitate" id="Localitate" autoComplete="on" list="LocalitateList" class="form-control form-control-lg" />
            </div>
            <div class="col">
                <label>Judet</label>
                <datalist id="JudetList">
                    <option value="Timis">Timis</option>
                    <option value="Arad">Arad</option>
                    <option value="Cluj">Cluj</option>
                    <option value="Iasi">Iasi</option>
                </datalist>
                <input name="Judet" id="Judet" autoComplete="on" list="JudetList" class="form-control form-control-lg" />
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Ocupatie</label>
                <input name="Ocupatie" id="Ocupatie" class="form-control form-control-lg" />
            </div>
            <div class="col">
                <label>Loc de munca</label>
                <input name="LocDeMunca" id="LocDeMunca" class="form-control form-control-lg" />
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <hr />
        <br />
        <left><h3>Istoric medical</h3></left>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Grup sanguin<span class="text-danger">*</span></label><br />
                <datalist id="GrupSanguinList">
                    <option value="OI">OI</option>
                    <option value="AII">AII</option>
                    <option value="BIII">BIII</option>
                </datalist>
                <input name="GrupSanguin" id="GrupSanguin" autoComplete="on" list="GrupSanguinList" class="form-control form-control-lg" />
            </div>
            <div class="col">
                <label>Rh<span class="text-danger">*</span></label><br />
                <datalist id="RhList">
                    <option value="Pozitiv">Pozitiv</option>
                    <option value="Negativ">Negativ</option>
                </datalist>
                <input name="Rh" id="Rh" autoComplete="on" list="RhList" class="form-control form-control-lg" />
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Inaltime<span class="text-danger">*</span></label>
                <input name="Inaltime" class="form-control form-control-lg" />
            </div>
            <div class="col">
                <label>Greutate<span class="text-danger">*</span></label>
                <input name="Greutate" class="form-control form-control-lg" />
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Tegumente mucoase</label>
                <input name="TegumenteMucoase" class="form-control form-control-lg" />
            </div>
            <div class="col">
                <label>Tesut subcutanat</label>
                <input name="TesutSubcutanat" class="form-control form-control-lg" />
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Antecedente fiziologice</label>
                <input name="AntecedenteFiziologice" class="form-control form-control-lg" />
            </div>
            <div class="col">
                <label>Antecedente patologice</label>
                <input name="AntecedentePatologice" class="form-control form-control-lg" />
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Alergii<span class="text-danger">*</span></label>
                <input name="Alergii" class="form-control form-control-lg" />
            </div>
            <div class="col">
                <label>Conditii mediu</label>
                <input name="ConditiiMediu" class="form-control form-control-lg" />
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Internari</label>
                <textarea name="Internari" class="form-control form-control-lg" style="height:150px;"></textarea>
            </div>
            <div class="col">
                <label>Motive internari</label>
                <textarea name="MotiveInternari" class="form-control form-control-lg" style="height:150px;"></textarea>
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Ganglioni</label>
                <input name="Ganglioni" class="form-control form-control-lg" />
            </div>
            <div class="col">
                <label>Zgomot</label>
                <select name="Zgomot" id="Zgomot" class="form-control form-control-lg">
                    <option value="Sistolic">Sistolic</option>
                    <option value="Diastolic">Diastolic</option>
                    <option value="Protodiastolic">Protodiastolic</option>
                    <option value="Presistolic">Presistolic</option>
                </select>
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Suflu</label>
                <select name="Suflu" id="Suflu" class="form-control form-control-lg">
                    <option value="Cardiac organic">Cardiac organic</option>
                    <option value="Cardiac organofunctional">Cardiac organofunctional</option>
                    <option value="Cardiac functional">Cardiac functional</option>
                </select>
            </div>
            <div class="col">
                <label>Frecventa</label>
                <input name="Frecventa" class="form-control form-control-lg" />
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Aritmii</label>
                <select name="Aritmii" id="Aritmii" class="form-control form-control-lg">
                    <option value="Ritm cardiac normal">Ritm cardiac normal</option>
                    <option value="Tahicardie">Tahicardie</option>
                    <option value="Bradicardie">Bradicardie</option>
                    <option value="Batai puternice premature">Batai puternice premature</option>
                </select>
            </div>
        </div>
        <br />
        <br />
        <div style="text-align: center;">
            <button id="saveBtn" type="button" class="Btn">Salvare</button>
            <button id="cancelBtn" type="button" class="Btn">Anulare</button>
        </div>
    </form>
</div>
<br />
<br />
<script>
    $(document).ready(function () {
        $("#CNP").keyup(function () {
            //Get
            var cnp = $("#CNP").val();
            if (cnp.length == 13) {
                var result = cnp.substring(0, 1);
                if (result == 1 || result == 5) {
                    //Set
                    $("#Sex").val("M");
                } else if (result == 2 || result == 6) {
                    $("#Sex").val("F");
                }
                else {
                    $("#Sex").val("");
                }

                var an = cnp.substring(1, 3);
                var luna = cnp.substring(3, 5);
                var zi = cnp.substring(5, 7);
                var secol = "";
                if (result == 1 || result == 2) {
                    secol = "19";
                } else if (result == 5 || result == 6) {
                    secol = "20";
                } else secol = "";

                if (secol) {
                    var dataNasterii = zi + "/" + luna + "/" + secol + an;
                    //Set
                    $("#DataNasterii").val(dataNasterii);
                }

                var An = secol + an;
                var birth = new Date(An, luna, zi, 0, 0, 0, 0);
                var curr = new Date();
                var diff = curr.getTime() - birth.getTime();
                var age = Math.floor(diff / (1000 * 60 * 60 * 24 * 365.25));
                //Set
                $("#Varsta").val(age);
            }


        });
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $("#saveBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        var re = /^[a-zA-Z-]*$/;
        var cnp = $("#CNP").val();
        var reNumber = /^[0-9]*$/;
        var reTelefon = /^[0-9+]*$/;
        var sex = cnp.substring(0, 1);
        var reEmail = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        if ($("#Nume").val() == "" || (!re.test($("#Nume").val()))) {
            sweetAlert("Câmpul nume nu este valid", "", "error");
            document.getElementById('lblErrorNume').innerHTML = 'Câmpul nu este valid';
        }
        else if ($("#Prenume").val() == "" || (!re.test($("#Prenume").val()))) {
            sweetAlert("Câmpul prenume nu este valid", "", "error");
            document.getElementById('lblErrorPrenume').innerHTML = 'Câmpul nu este valid';

        }
        else if ($("#CNP").val() == "" || (!reNumber.test($("#CNP").val())) || cnp.length != 13) {
            sweetAlert("Câmpul CNP nu este valid", "", "error");
            document.getElementById('lblErrorCNP').innerHTML = 'Câmpul nu este valid';
        }
        else if ($("#Sex").val() == "") {
            sweetAlert("Câmpul sex nu este valid", "", "error");
            document.getElementById('lblErrorSex').innerHTML = 'Câmpul nu este valid';

        }
        else if ($("#DataNasterii").val() == "") {
            sweetAlert("Câmpul data nasterii nu este valid", "", "error");
            document.getElementById('lblErrorDataNasterii').innerHTML = 'Câmpul nu este valid';
        }
        else if ($("#Varsta").val() == "" || (!reNumber.test($("#Varsta").val()))) {
            sweetAlert("Câmpul varsta nu este valid", "", "error");
            document.getElementById('lblErrorVarsta').innerHTML = 'Câmpul nu este valid';
        }
        else if ($("#Email").val() == "" || (!reEmail.test($("#Email").val()))) {
            sweetAlert("Câmpul email nu este valid", "", "error");
            document.getElementById('lblErrorEmail').innerHTML = 'Câmpul nu este valid';
        }
        else if ($("#Telefon").val() == "" || (!reTelefon.test($("#Telefon").val()))) {
            sweetAlert("Câmpul telefon nu este valid", "", "error");
            document.getElementById('lblErrorTelefon').innerHTML = 'Câmpul nu este valid';
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/Doctor/CreatePacient',
                data: $("#createPacient").serialize()
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");
                    focusActionTC();
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Failed");
                });
        }
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusActionTC();
    });
    function focusActionTC() {
        $('html, body').animate({
            scrollTop: $("#tableContainer").offset().top - 100
        }, 1000);
    }
</script>
