@model MPSAM.Web.ViewModels.ActivityViewModels.NewActivity

@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<hr />
<br />

<br />
<br />
<br />
<div class="container">
    <center><h2>ADĂUGARE ACTIVITATE</h2></center>
    <br />
    <br />
    <form id="createActivity">
        <input type="hidden" name="IDPacient" value="@Model.Pacient.ID" />
        <br />
        <div class="form-row">
            <div class="col">

            </div>
            <div class="col">
                <label>Data<span class="text-danger">*</span></label>
                @*<input type="date" name="Data" class="form-control form-control-lg" id="Data" />*@
                <input type="datetime-local" name="Data" id="Data" class="form-control form-control-lg">
                <label id="lblErrorData" class="alert-danger"></label>
            </div>
            <div class="col">
            </div>

        </div>
        <br />
        <div class="form-row">
            <div class="col">

            </div>
            <div class="col">
                <label>Activitate<span class="text-danger">*</span></label>
                <textarea name="Activitate" class="form-control form-control-lg"></textarea>
                <label id="lblErrorActivitate" class="alert-danger"></label>
            </div>
            <div class="col">

            </div>
        </div>
        <br />
        <br />
        <div style="text-align: center;">
            <button id="saveBtn" type="button" class="Btn">Salvare</button>
            <button id="cancelBtn" type="button" class="Btn">Anulare</button>
        </div>

    </form>
</div>
<br />
<br />
<script>

    $("#saveBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        var reNumber = /^[0-9]*$/;
        var valueDate = document.getElementById('Data').value;
        if ($("#Activitate").val() == "") {
            sweetAlert("Câmpul recomandare nu este valid", "", "error");
            document.getElementById('lblErrorActivitate').innerHTML = 'Câmpul nu este valid';
        } else if (!Date.parse(valueDate)) {
            sweetAlert("Câmpul data nu este valid", "", "error");
            document.getElementById('lblErrorData').innerHTML = 'Câmpul nu este valid';
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/Doctor/CreateActivity',
                data: $("#createActivity").serialize()
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");
                    focusActionTC();
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Failed");
                });
        }
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusActionTC();
    });
    function focusActionTC() {
        $('html, body').animate({
            scrollTop: $("#tableContainer").offset().top - 100
        }, 1000);
    }
</script>

