@{
    ViewBag.Title = "Display Doctors";
    Layout = "~/Views/Administrator/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("DoctorsTable");
        }
    </div>
    <div id="actionContainer">
        <hr />
    </div>
</div>

